:root {
    --negro:#02050e;
    --azul: #1e50ff;
    --azulmasoscuro: #272d37;
    --blanco: #fff;
    --cesltecito: #035bc0;
    --rojito: #d30729d2; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style-type: none;
}

header {
    background: var(--white);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 30px;
    position: fixed;
    top: 0;
    z-index: 2;
    position: fixed;

}
.logo {
    display: flex;
    justify-content: flex-start;
    padding: 10px 60px 0 30px; 
}
.navbar,
.navbar-list {   
     
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

}
.navbar-list a {
    color: var(--primary);
    font-weight: 400;
}

.navbar {
    display: flex;
}

.navbar i {
    font-size: 36px;
    display: none;

}


/*MAIN*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*HERO*/

#hero {
    margin-top: 80px;
    display: flex;
    width: 98%;    
    padding: 70px 0px;
    justify-content: space-around;
}

.hero-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.hero-presentation h1 {
    font-weight: 700;
    font-size: 40px;
    display: flex;
    flex-direction: column;
}

.hero-presentation p {
    font-weight: 300;
    font-size: 14px;
    max-width: 350px;
    color: var(--cesltecito);
}

.button-container {
    display: flex;
    gap: 15px;
}

.button-container a {
    text-decoration: none;
    border: 3px solid var(--negro);
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 600;
}

.btn-diseños {
    background-color: var(--azulmasoscuro);
    color: var(--blanco);
}

.btn-personalinzados {
    background-color: var(--azulmasoscuro);
    color: var(--blanco);
}
 
.hero-img {

    color: var(--white);
    background-color: var(--azulmasoscuro);
    justify-content: right;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction:column;
    gap: 20px;
    cursor: pointer;
    width: 320px;
    height: 320px;

}

/*ABOUT*/

#about {
    display: flex;
    color: #035bc0;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 850px;
    padding: 30px 0;
    font-weight: 300;
    text-align: center;
}

@media (max-width: 992px) {
    .hero-presentation {
        text-align: center;
        width: 90%;
        align-items: center;
    }
    .hero-presentation h1{
        display: block;
        width: 100%;
    }
    .hero-presentation p {
        max-width: 80%;
        font-size: 16px;
    }
    .button-container {
        justify-content: center;
    }
    .hero-img {
        display: none;
    }
    #about {
        font-size: 15px;
    }
}

@media (max-width:576px) {
    .navbar ul {
        background-color: var(--blanco);
        width: 100%;
        height: calc(100vh - 80px);
        position: absolute;
        top: 80px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(200%);

    }
    .navbar i {
        display: block;
    }

    #toggle-menu:checked ~ .navbar-list {
        transform: translateX(0%);
    }
    .hero-presentation {
        max-width: 100%;
    }
}

#cards {
    text-align: center;
    margin-top: 65px;
    padding: 70px;
    max-width: 1200px;
}
.beneficios {
    color: var(--rojito);
    font-size: 32px;
    padding: 25px;
}
 .beneficios2 {
    color: var(--rojito);
    font-weight: 800;
    font-size: 25px;
}

.beneficios-card {
    color: var(--azulmasoscuro);
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px;
    
}




