:root{
    --negro:#02050e;
    --azul: #1e50ff;
    --azulmasoscuro: #272d37;
    --blanco: #fff;
    --cesltecito: #035bc0;
    --rojito: #d30729d2; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style-type: none;
}

header{
    background: var(--white);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 30px;
    position: fixed;
    top: 0;
    z-index: 2;

}
.instagram{
    width: 40px;
    height: 40px;
}
#logo {
    display: flex;
    justify-content: flex-start;
    padding: 10px 60px 0 30px; 
}
.navbar,
.navbar-list {   
     
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

}
.navbar-list a{
    color: var(--primary);
    font-weight: 400;
}
main {
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    margin: 150px;
}

/* section */
 #info {
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.info-info {
    display: flex;
    gap: 15px;
    justify-content: left;
    flex-wrap: wrap;
    width: 750px;
}
 
.info-info h1 {
    width: 80px;
    min-width: 500px;
    font-weight: 800;
    color: var(--rojito);
    z-index: 5px;
}
.info-info p {
    font-size: 15px;
    width: 70%;
    color: var(--primary);
    width: 750px;
}
.info-info a {
    width: 110px;
    padding: 8px 0;
    border-radius: 20px;
    background-color: var(--azulmasoscuro);
    color: var(--rojito);
    font-size: 15px;
    text-align: center;
    text-decoration: none;   
    cursor: pointer;
}
.info-img {
    color: var(--white);
    background-color: var(--azulmasoscuro);
    justify-content: right;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction:column;
    gap: 20px;
    cursor: pointer;
    width: 300px;
    height: 300px;
}

#presentación{
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--cesltecito);
    font-size: 20px;
    margin: 0;

}  
